﻿@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    <p>@string.Format("Hello {0}!", User.Identity.GetUserName())</p>
    
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
    
        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
    }
}
